# Copyright (c) 2015, Yahoo Inc. All rights reserved.
# Copyrights licensed under the New BSD License.
# See the accompanying LICENSE file for terms.

map /config2 http://www.yahoo.com/ @plugin=ats-zeus.so @pparam=/usr/share/zeus/config.so.2
map /config1 http://www.yahoo.com/ @plugin=ats-zeus.so @pparam=/usr/share/zeus/config.so
