# Copyright (c) 2015, Yahoo Inc. All rights reserved.
# Copyrights licensed under the New BSD License.
# See the accompanying LICENSE file for terms.

#THIS IS JUST AN EXAMPLE. PLEASE CONFIGURE 
map /config2 http://example.com/ @plugin=ats-zeus.so @pparam=/usr/share/zeus/config.so.2
map /config1 http://example.com/ @plugin=ats-zeus.so @pparam=/usr/share/zeus/config.so
